.share {
    &__grid {
        display: flex;
        flex-wrap: row;
        justify-content: center;
        margin: 0 1rem .5rem 1rem;
    }

    &__item {
        margin: .5rem;
        // width: 100%;
    }
}