.share {
    &__grid {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: -.5rem;
    }

    &__item {
        margin: .5rem;
        // width: 100%;
    }
}