.button {
    width: 48px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    outline: none;
    background: $color-green;  
    border: none;
    color: $color-white;
    font-family: inherit;
    @extend .fz-16;
    @extend .lh-15;
    padding: .75rem;

    &:hover {
        background: #246900;
    }

    &__icon {
        margin: 0 auto;
        &:hover {
            background: #246900;
        }
    }
}

.button-copy {
    width: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    outline: none;
    background: $color-green;  
    border: none;
    color: $color-white;
    font-family: inherit;
    @extend .fz-12;
    @extend .lh-15;
    padding: .75rem;
    text-transform: uppercase;
    letter-spacing: .1rem;

    &:hover {
        background: #246900;
    }
}