<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Поздравляем вас! — ДОМ.РФ
        link(rel="stylesheet", href="./styles/main.css")
    body
        main
            .header
                .header__logo
                    img(src="images/logo.svg", alt="").header__logo-img
                .header__bg
                    img(src="images/ufa.png", alt="", srcset="images/ufa@2x.png 2x, images/ufa@3x.png 3x" loading="lazy").header__bg-img
            .content
                .content__hello
                    p.text-bold.fz-16.color-green Уважаемый Сергей Сергеевич, поздравляем вас!
                .content__message.fz-14.lh-14
                    p.mb-24 Благодаря государственной поддержке, 20 сентября 
                        span.text-bold ваш ипотечный кредит на квартиру уменьшился на 
                            span.color-green 400 тысяч рублей!

                    p.mb-24 Значит в следующем году вы дополнительно сэкономите на процентах до 
                        span.text-bold.color-green 250 тысяч рублей. 

                    p.mb-24 Расскажите друзьям, как получить господдержку и погасить ипотеку — опубликуйте пост-подсказку у себя на странице. 

                    p.mb-24.text-bold.color-green Вам будут благодарны другие большие семьи и не только в Уфе! 

                    p.mb-24
                        span.text-bold Три простых шага

                    p.mb-16
                        span.color-green 1.
                        span  Нажмите кнопку

                    p.mb-24
                        button#button.button-copy.js-copy-button Скопировать
                    
                    p.mb-12
                        span.color-green 2.
                        span  Запустите приложение социальной сети

                    .share 
                        .share__grid
                            - const socials = ['fb', 'vk', 'ok', 'instagram']
                            each item in socials
                                button.share__item.button.js-share-button(data-share-type=item)
                                    img(src=`images/social-${item}.svg`, alt="").button__icon
                    
                    p.mb-12
                        span.color-green 3.
                        span  Нажмите «Вставить текст», выберите картинку из галереи и расскажите, как можно получить до 450 тысяч рублей.

                .fb-bar
                    .fb-bar__user
                        img.fb-bar__user-img(src="https://graph.facebook.com/378657230166923/picture?type=square")
                        p.fb-bar__user-name User Name
                    .fb-bar__actions
                        button.button.fb-bar__actions-btn.js-facebook-logout Выход
                        
        #vk_api_transport
        
        script(src="js/app.js")
